BasedOnStyle: Google
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

ContinuationIndentWidth: 4
AlignOperands: DontAlign
# BreakBeforeBinaryOperands: None

AlignConsecutiveAssignments:
  Enabled: false

AlignConsecutiveBitFields:
  Enabled: false

AccessModifierOffset: -4

AlignAfterOpenBracket: BlockIndent
BreakInheritanceList: AfterColon
PointerAlignment: Left

NamespaceIndentation: None