BasedOnStyle: Google
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

ContinuationIndentWidth: 4
AlignOperands: DontAlign
# BreakBeforeBinaryOperands: None

AlignConsecutiveAssignments:
  Enabled: false

AccessModifierOffset: -4

AlignAfterOpenBracket: DontAlign
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: NextLine
ConstructorInitializerIndentWidth: 4
PointerAlignment: Left

NamespaceIndentation: None